@page "/account/profile"

<PageTitle>@L["Profile"]</PageTitle>
<div class="d-flex flex-column justify-center gap-2">
    <MudText Typo="Typo.h4" Align="Align.Center">@L["Personal info"]</MudText>
    <MudText Typo="Typo.body1" Align="Align.Center">@L["Info about you and your preferences"]</MudText>
    <MudPaper>
        <MudList T="string">
            <MudListSubheader>
                <MudText Typo="Typo.h4"> @L["Basic info"]</MudText>
                <MudText Typo="Typo.body1">@L["Some info may be visible to other people using Google services. Learn more"]</MudText>
            </MudListSubheader>
            @if (userModel is not null)
            {
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between align-content-center gap-3">
                        <MudText Style="min-width:120px">@L["Profile picture"]</MudText>
                                 <MudText Style="min-width:200px">@L["Add a profile picture to personalize your account"]</MudText>
                        @if (userModel?.Avatar != null)
                        {
                            <MudAvatar Size="Size.Large">
                                <MudImage Src="@userModel?.Avatar"></MudImage>
                            </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Size="Size.Large">
                                @userModel?.Username?.FirstOrDefault()
                            </MudAvatar>
                        }
                       
                    </div>
                </MudListItem>
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between align-content-center gap-3">
                        <MudText Style="min-width:120px">@L["User name"]</MudText>
                        <MudText Style="min-width:200px">@userModel?.Username</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight"></MudIcon>
                    </div>
                </MudListItem>
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between align-content-center gap-3">
                        <MudText Style="min-width:120px">@L["Name"]</MudText>
                        <MudText Style="min-width:200px">@userModel?.Nickname</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight"></MudIcon>
                    </div>
                </MudListItem>
                 
            }
            
        </MudList>
    </MudPaper>
</div>
@code {
    private ProfileResponse? userModel => UserProfileStore.Profile;
 
}
